<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi perfil de usuario</h4>
        <h6 class="card-subtitle">Ajuntes</h6>

        <form
          class="form p-t-20"
          [formGroup]="perfilForm"
          (ngSubmit)="actualizarPerfil()"
        >
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>

              <input
                formControlName="nombre"
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Username"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                [readOnly]="usuario.google"
                formControlName="email"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
              />
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
            [disabled]="perfilForm.invalid"
          >
            <i class="fa fa-save"></i>
            Guardar cambios
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen del usuario</h6>

        <div class="text-center mb-5">
          <img
            *ngIf="!imgTemp"
            width="500"
            height="500"
            class="img-fluid"
            [src]="usuario.imagenUrl"
          />

          <img
            *ngIf="imgTemp"
            width="500"
            height="500"
            class="img-fluid"
            [src]="imgTemp"
          />
        </div>

        <input
          (change)="cambiarImagen($event.target.files[0])"
          type="file"
          name=""
          id=""
        />

        <button
          [disabled]="!imagenSubir"
          (click)="subirImagen()"
          type="submit"
          class="mt-5 btn btn-success btn-block waves-effect waves-light m-r-10"
        >
          <i class="fa fa-save"></i>
          Cambiar imagen
        </button>
      </div>
    </div>
  </div>
</div>
